.numbers {
    padding-top: 68px;
    padding-bottom: 60px;
    background: url(../image/number-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $blue-color;

    &-heading {
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &-content {
        padding-top: 62px;
        padding-bottom: 53px;
        background-color: rgba($color: white, $alpha: 0.3);
    }

    &-img {
        margin: 0 auto 30px;
    }

    &-quantity {
        display: block;
        font-size: 2.25em;
        line-height: 53px;
        color: white;
        margin-bottom: 10px;
        font-weight: 700;
        font-family: $font-heading;
        letter-spacing: 2px;
    }
}