.post {

    // &-body {
    //     padding: 24px 15px;
    //     box-shadow: 0 0 6px rgba($color: #000000, $alpha: 0.3);
    // }

    &-heading {
        position: relative;
        text-align: left;
        font-size: 2em;
        margin-bottom: 24px;
        font-family: $font-heading;
        line-height: 46px;
        color: $green-color;
        text-transform: uppercase;

        &::after {
            position: absolute;
            content: "";
            width: 100px;
            height: 4px;
            background-color: $orange-color;
            bottom: -12px;
            left: 0;
        }
    }

    &-content {
        h2 {
            font-size: 1.75em;
            line-height: 32px;
            margin-top: 20px;
            margin-bottom: 16px;
            font-family: $font-heading;
        }

        ul {
            margin: 0 36px;
            margin-bottom: 16px;

            li {
                margin-bottom: 10px;
            }
        }
    }

    &-img {
        padding-top: 6px;
        padding-bottom: 22px;
        text-align: center;
        img {
            margin: 0 auto;
            object-fit: cover;
        }

        em {
            display: block;
            padding: 4px 16px;
        }

    }

    .text {
        line-height: 24px;
    }

    &-title {
        display: block;
        margin-bottom: 36px;
        position: relative;

        &::after {
            position: absolute;
            content: "";
            width: 50px;
            height: 4px;
            background-color: $orange-color;
            left: 0;
            bottom: -12px;
        }
    }

    &-meta {
        font-family: Open sans;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 48px;
    
        span {
            font-size: 1rem;
            i {
                margin-right: 8px;
                font-size: 1rem;
            }
        }
    
        .share-social {
            list-style: none;
            display: flex;
    
            li {
                margin-left: 8px;
    
                
                button {
                    border: none;
                    color: white;
                    padding: 4px 8px;
                    line-height: 18px;
    
                    &:hover {
                        opacity: 0.8;
                    }
                    i {
                        font-size: 0.875rem;
                        padding-right: 8px;
    
                        }
                    }
    
                    span {
                        font-size: 0.875rem;
                    }
                }
    
                .btn-facebook {
                    background-color: #4267b2;
                }
    
                .btn-twitter {
                    background: #1b95e0;
                }
    
                .btn-instagram {
                    background-color: #b02f95;
                }
    
                .btn-linkedin {
                    background-color: #0e76a8;
                }
            }
        }

    &-list {
        list-style: none;
    }

    &-item {
        border-bottom: 1px solid $orange-color;
    }

    &-link {
        padding: 10px 0;
        display: flex;
        color: inherit;

        &:hover {
            color: $orange-color;
        }

        img {
            margin-right: 8px;
            width: 100px;
            height: 60px;
            object-fit: cover;
            flex-shrink: 0;
        }

        h2 {
            font-size: 1rem;
            line-height: 22px;
            display:-webkit-box;
            -webkit-line-clamp:3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-word;
        }
    }

    &-related {

        &-title {
            position: relative;
            display: block;
            padding-top: 30px;
            margin-bottom: 36px;


            &::after {
                position: absolute;
                content: "";
                width: 50px;
                height: 4px;
                background-color: $orange-color;
                left: 0;
                bottom: -12px;
            }
        }

        &-list {
            list-style: none;
        }

        &-link {

            img {
                margin-bottom: 8px;
                width: 100%;
                height: 120px;
                object-fit: cover;

            }
            h2 {
                font-size: 1em;
                line-height: 22px;
                color: black;
                display:-webkit-box;
                -webkit-line-clamp:2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                word-break: break-word;


                &:hover {
                    color: $orange-color;
                }
            }
        }
    }

    form {
        margin-top: 36px;
    }

    label {
        font-size: 1.125em;
        font-family: $font-heading;
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 1023px) {
    .post-related-link {
        img {
            width: 100%;
            height: 160px;
        }
    }
}


@media screen and (max-width: 767px) {
    .post {
        &-heading {
            font-size: 1.5em;
            line-height: 40px;
        }

        &-meta {
            display: block;
        }

        .share-social {
            margin-top: 16px;
        }

        &-link h2{
            font-size: 0.875em;
        }

    &-related {
        &-link {
            font-size: 0.875em;
        }
    }

    }
}
